.footer_info {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.footer_info__box {
  width: 1000px;
  height: 350px;
  background-color: var(--background-color);
}

.footer__info__first-line {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer__info__first-line-text {
  font-size: 12px;
  margin-bottom: 20px;
}

.footer__info__second-line {
  display: flex;
  justify-content: center;
}

.footer__info__second-line-text {
  font-size: 12px;
}

.footer__info__third-line {
  display: flex;
  justify-content: center;
  padding: 20px 0 45px 0;
}

.footer__info__fourth-line {
  display: flex;
  justify-content: center;
}

.footer__info__fourth-line-text {
  font-size: 13px;
}
