.nav-bar-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px #e8e8e8 solid;
  font-size: 14px;
  height: 36px;
}

.nav-bar-2__left {
  display: flex;
  color: #888888;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-bar-2__left__item {
  margin-right: 25px;
  position: relative;
  left: 7.5%;
}

.nav-bar-2__left__item:nth-child(1) {
  color: #32d260;
}

.nav-bar-2__right {
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.nav-bar-2__right__item {
  margin-right: 6px;
  font-size: 13px;
  color: #949494;
  position: relative;
  right: 44px;
}

.nav-bar-2__right__item:nth-child(1) {
  font-weight: bold;
  color: black;
}

.nav-bar-2__right__item:nth-child(1) i {
  color: #949494;
}

.nav-bar-2__right__item:nth-child(3) {
  opacity: 0.3;
}

.nav-bar-2__right__item:nth-child(2),
.nav-bar-2__right__item:nth-child(4) {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
